.preview__container {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100vh;
  /* height: calc(100vh - 64px); */
  overflow-y: scroll;
  /* overflow-y: hidden; */
  background-color: white;
  top: 0;
  right: -100%;
  transition: all 0.2s ease-in-out;
}

.preview__container--active {
  right: 0;
}

.preview__description__container {
  padding: 1rem;
  line-height: 1.6rem;
}

.preview__description__container b {
  color: #15C0EA;
}

.preview__description__container a {
  max-width: 100%;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: top;
}

.preview__content {
  width: 90%;
  margin: 0 auto;
}

.preview__close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 2rem;
  color: #dddddd;
  cursor: pointer;
}

.preview__button {
  text-decoration: none;
  font-weight: bold;
  background-color: #f9b29c;
  border-radius: 0.5rem;
  appearance: none;
  border: none;
  color: white;
  padding: 1rem;
  font-size: 1rem;
  margin: 1rem auto;
  cursor: pointer;
}

.preview__title {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.preview__description {
  line-height: 1.5rem;
  color: #484848;
}

.preview__picture {
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


@media only screen and (min-width: 768px) {
  .preview__container {
    top: auto;
    width: 30%;
    height: calc(100vh - 64px);
  }
}

@media only screen and (min-width: 1440px) {
  .preview__container {
    top: auto;
    width: 25%;
  }
}

.seccion-flechas {
  display: flex ;
  justify-content: space-between ;
}

.seccion-notificar-actualizar  {
  display: flex ;
  justify-content: space-between ;
}

.puntos li {
  display: inline;
  padding-right: 2px;
}
.puntos {
  margin-right: 2.5em;
}

.preview__container .MuiSvgIcon-root {
  color: #15C0EA;
}

.propiedad-style{
color: #15C0EA;
font-family: 'Poppins';
font-weight: bold;
font-size: 1.4rem;

}
.valor-style{
color: #716969;
font-size: 1.4rem;
font-family: "Poppins";
font-weight: bold;

}