@media (max-width: 600px) {
  .button-header{
    padding: 0px !important;
  }
}
.header__container {
  background-color: #15C0EA;
  padding: 1rem 0;
  color: white;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}
