.modal-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}

.modal-item {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin: 0;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  font-weight: normal;
}

.modal-item:hover {
  opacity: 0.8;
}

.btn-close {
  width: 22px;
  height: 22px;
  font-size: 25px;
  position: absolute;
  top: 8px;
  right: 19px;
  color: rgb(109, 98, 98);
  border-radius: 50%;
  cursor: pointer;
  border: 0;
  outline: none;
}

.btn-close:hover {
  color: rgb(34, 32, 32);
}

div.MuiDialogActions-root {
  justify-content: center;
}

button.MuiButton-textPrimary {
  color: #fff;
  text-transform: capitalize;
}

button.MuiButton-root.Mui-disabled {
  background-color: rgba(127, 127, 127, .25);
  color: rgba(86, 84, 84, 0.45);
  opacity: 0.7;
  cursor: auto;
}

button.MuiButton-text {
  text-transform: capitalize;
}